@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0 auto;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 70px;
  box-sizing: border-box;
}

.logo-navigation {
  display: flex;
}

.logo {
  margin-right: 30px;
  z-index: 1;
  margin-bottom: -10px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px 0 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: inherit;
  text-decoration: none;
}

.navigation-link-current {
  position: relative;
  padding: 20px 0;
  margin: 0 16px;
}

.navigation-link-current::before {
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #756257;
}

.navigation-link:hover {
  color:  #615048
}

.navigation-link:focus {
  color: #615048
}

.navigation-link:active {
  color: #756257
}

.navigation-item {
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navigation-user-link {
  display: block;
  margin: 5px;
  padding: 12px 22px;
  text-decoration: none;
  color: #000000;
}

.navigation-user.navigation-user-link {
  min-width: 44px;
  min-height: 64px;
}

.navigation-user-item{
  list-style-type: none;
}

.navigation-user-item:not(:last-child):hover {
  opacity: 70%;
}

.navigation-user-item:not(:last-child):focus {
  opacity: 70%;
}

.navigation-user-item:not(:last-child):active {
  opacity: 90%;
}

.navigation-user-link-search {
  background-image: url('../images/decor-small-icons/search-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  margin: auto;
  padding: 12px 22px;
}

.navigation-user-link-likes {
  background-image: url('../images/decor-small-icons/likes-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  margin: auto;
  padding: 12px 22px;
  position: relative;
}

.likes-number {
  display: block;
  min-width: 20px;
  height: 20px;
  background: #7DB54F;
  border-radius: 100vh;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  box-sizing: border-box;
  padding-top: 5px;
  position: absolute;
  bottom: 15px;
  right: 5px;
}

.button {
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  font-family: inherit;
  padding: 8px 50px;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  background: #756157;
  color: #FFFFFF4D;
}

.button:disabled {
  background: #E5E5E5;
}

.button-text {
  display: block;
  background: #756157;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  margin: 14px 0 14px 20px;
  margin-left: 20px;
  padding: 8px 36px;
}

.main {
  flex-grow: 1;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/main/welcome-decor.svg"), url("../images/main/background-welcome.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  min-height: 485px;
  width: 100%;
}

.welcome-image {
  display: block;
  margin-bottom: 30px;
}

.advantages-lead {
  width: 1200px;
  margin: 69px 5px 25px 5px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-lead-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 90px auto;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 103px 84px;
  box-sizing: border-box;
}

.advantages-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  max-width: 175px;
  margin: 0 0 30px 0;
  position: relative;
}

.advantages-title::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.advantages-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin: 30px 0 0 0;
}

.advantages-image {
  display: block;
  margin: auto;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  padding: 102px 85px;
  align-items: center;
  justify-content: center;
}

.advantages-item-dark {
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  grid-column: 1 / -1;
}

.advantages-image {
  display: block;
  margin: auto;
  }

.advantages-image-left {
  display: block;
  margin: 0;
  order: -1;
}

.advantages-title-dark {
  color:#FFFFFF;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 30px 0;
  max-width: 175px;
  font-size: 24px;
  position: relative;
}

.advantages-title-dark::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.advantages-dark-description {
  color: #FFFFFF;
  margin: 30px 0 0 0;
  text-align: center;
}

.advantages-light {
  color: #000000;
  background-color: #83B3D31F;
}

.advantages-greyish {
  color: #000000;
  background-color: #83B3D333;
}

.advantages-inner {
  color: #333333;
}

.services-title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 64px auto 20px auto;
}

.services-title-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 64px auto;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
}

.services-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0;
  padding: 181px 81px 85px 81px;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  position:relative;
}

.services-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

li:nth-child(2n+1).services-item {
  background-color: #83B3D31F;
}

.services-item-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.services-housing::before {
  content: '';
  display: block;
  width: 75px;
  height: 72px;
  position: absolute;
  top: 81px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../images/decor-small-icons/housing-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services-food::before {
  content: '';
  display: block;
  width: 75px;
  height: 72px;
  position: absolute;
  top: 81px;
  background-image: url("../images/decor-small-icons/food-icon.svg");
  background-repeat: no-repeat;
  margin-left: -15px;
}

.services-souveniers::before {
  content: '';
  display: block;
  width: 75px;
  height: 77px;
  position: absolute;
  top: 81px;
  background-image: url("../images/decor-small-icons/souveniers-icon.svg");
  background-repeat: no-repeat;
  margin-left: 25px;
}

.search {
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
  align-items: center;
  justify-content: center;
}

.search-title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.search-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 0 54px 0;
}

.search-big-button {
  padding: 8px 50px;
  margin: 0;
  background: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.subscribe {
  display: flex;
  flex-direction: column;
  padding: 96px 258px 104px 258px;
  align-items: center;
  justify-content: center;
}

.subscribe-special {
  background-image: url(../images/main/subscribe-special.png);
  background-color: #82B3D3;
  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 684px;
}

.email-input {
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  display: flex;
  align-items: flex-start;
  text-align: start;
  border-style: none;
  padding: 12px 20px;
}

.subscribe-button {
  display: flex;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  border-style: none;
  padding: 8px 30px;
  cursor: pointer;
  min-width: 235px;
  max-width: 290px;
  justify-content: center;
}

.subscribe-button:hover {
  background-color: #68a2ca;
}

.subscribe-button:focus {
  background-color: #68a2ca;
}

.subscribe-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3)
}

.subscribe-button:disabled {
  background-color: #e5e5e5;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.filter {
  background-image: url(../images/catalog-filter-background.png);
  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  padding: 35px 70px 70px 70px;
  margin: 0;
  }

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 30px 0;
  padding: 0;
  color: #FFFFFF;
  list-style-type: none;
  gap: 20px;
}

.breadcrums-item {
  font-size: 22px;
  font-weight: 400;
  height: 21px;
  line-height: 26px;
  list-style-type: none;
  text-align: left;
}

.breadcrumbs-item:not(:last-child)::after {
  position: relative;
  display: block;
  content: "";
  top: -15px;
  width: 10px;
  height: 11px;
  left: 25px;
  background-image: url("../images/decor-small-icons/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  display: block;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link-hotels:hover,
.breadcrumbs-link-hotels:focus,
.breadcrumbs-link-hotels:active {
  opacity: 0.6;
}

.breadcrumbs-link-home {
  display: block;
  width: 21px;
  height: 21px;
  mask-image: url("../images/decor-small-icons/home-breadcrumb-icon.svg");
  mask-repeat: no-repeat;
  mask-position: left;
  background-color: #FFFFFF;
}

.breadcrumbs-link-home:hover,
.breadcrumbs-link-home:focus,
.breadcrumbs-link-home:active {
  opacity: 0.6;
}

.catalog-form {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.catalog-form-group {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.catalog-form-infrastructure {
  width: 151px;
  margin-right: 70px;
}

.catalog-form-title {
  margin: 0 0 32px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-form-list {
  display: grid;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style-type: none;
  list-style: none;
}

.catalog-form-item:hover,
.catalog-form-item:focus,
.catalog-form-item:active {
  opacity: 0.6;
}


.catalog-control {
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}

.catalog-control:has(.catalog-control-input:disabled) {
  opacity: 30%;
  pointer-events: none;
}

.catalog-control-input {
  padding: 0;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  margin: 0;
  margin-right: 12px;
  cursor: pointer;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  position: relative;
}

.catalog-control-input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  display: block;
  width: 13px;
  height: 10px;
  top: 5px;
  left: 4px;
  background-image: url("../images/decor-small-icons/check-mark.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.catalog-control-input[type="radio"] {
  border-radius: 50%;
}

.catalog-control-input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/decor-small-icons/radio-checked.svg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  background-color: transparent;
}

.catalog-form-housing {
  min-width: 151px;
  }

.catalog-form-price {
  margin: 0;
  margin-inline: 100px 70px;
  padding: 0;
  border-style: none;
}

.filter-title {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.filter-price-container {
  display: grid;
  grid-template-columns: 143px 143px;
  gap: 2px;
}

.filter-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: #A9A9A9;
  background-color: transparent;
  text-transform: lowercase;
  justify-self: end;
  align-self: center;
  margin-right: 20px;
  box-sizing: border-box;
}

.price-input {
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  color: #000000;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 143px;
  height: 48px;
  padding: 0;
  padding-inline: 20px 40px;
  border: none;
  border-radius: 4px 0 0 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-min {
  grid-row: 1/-1;
  grid-column: 1 / 2;
  z-index: 1;
}

.price-from {
  font-family: inherit;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  border-radius: 4px 0 0 4px;
  border-style: none;
  width: 143px;
  height: 48px;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
}

.price-to {
  font-family: inherit;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  border-radius: 0 4px 4px 0;
  border-style: none;
  width: 143px;
  height: 48px;
  grid-row: 1/-1;
  grid-column: 2 / 3;
}

.price-max {
  grid-row: 1/-1;
  grid-column: 2 / 3;
  z-index: 1;
}

.price-range-wrapper {
  margin-top: 45px;
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-control {
  position: absolute;
  height: 4px;
  border-radius: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  }

.toggle-min {
  left: 0;
}

.toggle-max {
  right: 0;
}

.catalog-form-button {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 191px;
  padding: 56px 0 0 0;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
}

.button-apply {
  background: #82B3D3;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-style: none;
  padding: 8px 50px;
}

.button-apply:hover {
  background-color: #68a2ca;
}

.button-apply:focus {
  background-color: #68a2ca;
}

.button-apply:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3)
}

.button-apply:disabled {
  background-color: #e5e5e5;
}


.button-reset {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  border-style: none;
  padding: 8px 50px;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  border: 3px solid;
  border-color: #83B3D3;
}

.button-reset:active {
  background-color: transparent;
  color: #FFFFFF4D;
}

.button-reset:disabled {
  background-color: transparent;
  opacity: 0.1;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.catalog {
  width: 100%;
  padding: 50px 70px 60px;
  box-sizing: border-box;
}

.catalog-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  flex-grow: 1;
}

.catalog-title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  max-width: 350px;
  margin-right: auto;
}

.select-control {
  font-family: inherit;
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 292px;
  margin: 0;
  margin-right: 70px;
  padding: 14px 20px;
  background-color: #FFFFFF;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/decor-small-icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:disabled {
  pointer-events: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.catalog-format {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  padding: 0;
  max-width: 220px;
  gap: 8px;
}

.card-grid-toggle {
  min-width: 48px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 12px;
}

.card-grid-toggle:active,
.card-grid-toggle:hover {
  border: 2px solid #000000;
}

.card-grid-toggle:focus {
  border: 2px solid #68A2CA;
}

.format-card-list {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 14px 12px;
  background-image: url("../images/decor-small-icons/show-as-card.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000000;
}

.format-one-card {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 14px 12px;
  background-image: url("../images/decor-small-icons/show-each-card.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.format-list {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 14px 12px;
  background-image: url("../images/decor-small-icons/show-as-list.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.catalog-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 0 80px 0;
  padding: 0;
}

.catalog-card-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  padding: 20px;
  box-shadow: 0 0 0 1px #E6E6E6;
  gap: 16px 20px;
  border-radius: 4px;
  box-sizing: border-box;
}

.catalog-card-link {
  grid-column: 1 / -1;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  display: block;
}

.catalog-card-img {
  display: block;
  margin-top: 0;
  object-fit: contain;
}

.catalog-card-title {
  margin: 0;
  text-align: left;
  color: #000000;
}

.catalog-card-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color:#333333;
  justify-self: start;
  margin: 0;
}

.catalog-card-price {
  font-size: 18px;
  line-height: 21px;
  justify-self: end;
  margin: 0;
}

.catalog-card-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  padding: 8px 5px;
  border-style: none;
  align-self: center;
  text-align: center;
}

.catalog-card-button:hover,
.catalog-card-button:focus {
  background-color: #615048;
}

.catalog-card-button:active {
  background: #756157;
  color: #FFFFFF4D;
}

.catalog-card-button:disabled {
  background-color: #e5e5e5;
}

.card-button-likes {
  font-family: inherit;
  background-color: #82B3D3;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  padding: 8px 5px;
  align-self: center;
}

.card-button-likes:hover,
.card-button-likes:focus {
  background-color: #68A2CA;
}

.card-button-likes:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.card-button-likes:disabled {
  background: #E5E5E5;
}

.card-button-in-likes {
  background-color: #7DB54F;
}

.card-button-in-likes:hover,
.card-button-in-likes:focus {
  background-color: #6C9E42;
}

.card-button-in-likes:active {
  background-color: #7DB54F;
  color: #FFFFFF4D;
}

.card-button-in-likes:disabled {
  background: #E5E5E5;
}

.stars {
  max-width: 140px;
  max-height: 37px;
  background-image: url("../images/decor-small-icons/stars.svg");
  display: block;
  margin: 0;
  min-height: 18px;
  background-repeat: no-repeat;
}

.five-stars {
  background-position: 0;
}

.four-stars {
  background-position: -24px;
}

.three-stars {
  background-position: -45px;
}

.two-stars {
  background-position: -70px;
}

.one-star {
  background-position: -96px;
}

.catalog-card-rates {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
  margin: 0;
  padding: 8px 22px 9px 23px;
  align-self: center;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
  border-radius: 4px;
}

.pagination-link {
  display: block;
  min-width: 60px;
  height: 60px;
  padding: 12px 14px;
  background: #82B3D3;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 8px;
  box-sizing: border-box;
}

.pagination-link:not(.pagination-current):active {
  background: rgba(130, 179, 211, 1);
  color: #FFFFFF4D;
}

.pagination-link:not(.pagination-current):hover,
.pagination-link:not(.pagination-current):focus {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-text {
  display: block;
  color: #000000;
  min-width: 60px;
  padding: 16px 22px 17px 22px;
  margin-right: 8px;
  box-sizing: border-box;
}

.subscribe-inner {
  display: flex;
  flex-direction: column;
  padding: 96px 258px 104px 258px;
  align-items: center;
  justify-content: center;
}

.subscribe-inner-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px 0;
}

.subscribe-inner-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0 0 54px 0;
}

.page-footer {
  width: 1200px;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  width: 1060px;
  padding: 40px 70px;
  align-items: center;
  justify-content: space-between;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 190px;
  align-items: center;
}

.social-link {
  display: block;
  min-width: 47px;
  min-height: 40px;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: rgba(131, 179, 211, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: rgba(104, 162, 202, 1);
}

.social-link:active {
  background: rgba(104, 162, 202, 0.3);
}

.social-item {
  list-style-type: none;
}

.social-link.link-vk {
mask-image: url("../images/decor-small-icons/social-vk.svg");
}

.social-link.link-telegram {
mask-image: url("../images/decor-small-icons/social-telegram.svg");
}

.social-link.link-youtube {
mask-image: url("../images/decor-small-icons/social-youtube.svg");
}

.contacts-address-phone {
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color:#000000;
  text-align: center;
  text-decoration-line: none;
}

.contacts-address-phone:hover,
.contacts-address-phone:focus {
  color: #756157;
}

.contacts-address-phone:active {
  color: #7561574D;
}

.logo-academy {
  width: 115px;
  display: block;
  margin: 0;
}

.logo-academy-link {
  display: block;
  min-width: 115px;
  min-height: 33px;
  mask-image: url("../images/logo/html-academy-inscript.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: rgba(0, 0, 0, 1);
  text-decoration: none;
}


.logo-academy-link:hover,
.logo-academy-link:focus {
  background-color: rgba(117, 97, 87, 1);
}

.logo-academy-link:active {
  background-color: rgba(117, 97, 87, 0.3);
}
