@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0 auto;
  min-width: 1200px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0 70px;
  margin: 0;
}

.logo {
  display: inline-block;
  margin-bottom: -8px;
  line-height: 0;
}

.navigation {
  display: flex;
  width: 892px;
  margin-left: auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 464px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 370px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current[aria-current="page"]::after {
  position: absolute;
  content: "";
  height: 2px;
  right: 16px;
  bottom: -1px;
  left: 16px;
  background-color: #756257;
}

.current-catalog {
  position: relative;
}

.current-catalog[aria-current="page"]::after {
  position: absolute;
  content: "";
  height: 2px;
  right: 16px;
  bottom: -1px;
  left:16px;
  background-color: #756257;
}

.navigation-user-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 44px;
  min-height: 64px;
  text-decoration: none;
}

.favourites-number {
  position: absolute;
  top: 12px;
  left: 20px;
  display: block;
  min-width: 12px;
  padding: 5px 4px;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 10px;
}

.favourites-link:has(.favourites-number:hover) {
  opacity: 0.6;
}

.favourites-link:has(.favourites-number:active) {
  opacity: 0.3;
}

.search-link::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  -webkit-mask: url("../images/decor-small-icons/search-icon.svg");
          mask: url("../images/decor-small-icons/search-icon.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #000000;
}

.search-link:hover::before,
.favourites-link:hover::before {
  background-color: #756157;
}

.search-link:active::before,
.heart-link:active::before {
  background-color: #7561574D;
}

.favourites-link::before {
  display: inline-block;
  content: "";
  width: 18px;
  height: 17px;
  -webkit-mask: url("../images/decor-small-icons/likes-icon.svg");
          mask: url("../images/decor-small-icons/likes-icon.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #000000;
}

.button {
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  font-family: inherit;
  padding: 8px 50px;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  background: #756157;
  color: #FFFFFF4D;
}

.button:disabled {
  background: #E5E5E5;
  pointer-events: none;
}

.button-text {
  display: block;
  background: #756157;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  margin: 14px 0 14px 20px;
  margin-left: 20px;
  padding: 8px 36px;
}

.main {
  flex-grow: 1;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/main/welcome-decor.svg"), url("../images/main/background-welcome.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat;
  background-color: #D4E5EF;
  min-height: 352px;
  width: 100%;
  padding: 51px 200px 82px 200px;
  box-sizing: border-box;
}

.welcome-image {
  display: block;
}

.advantages {
  padding-top: 69px;
}

.advantages-lead {
  width: 1200px;
  margin: 0 auto 25px auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-lead-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 90px auto;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 112px 80px;
  box-sizing: border-box;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  max-width: 175px;
  margin: 0 0 30px 0;
  position: relative;
}

.advantages-title::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.advantages-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin: 30px 0 0 0;
}

.advantages-image {
  display: block;
  margin: auto;
}

.advantages-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 102px 85px;
  align-items: center;
  justify-content: center;
}

.advantages-item-dark {
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  grid-column: 1 / -1;
  padding: 0;
  margin: 0;
}

.advantages-image {
  display: block;
  margin: auto;
}

.advantages-image-left {
  display: block;
  margin: 0;
  order: -1;
}

.advantages-title-dark {
  color:#FFFFFF;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 62px 0;
  max-width: 175px;
  font-size: 24px;
  line-height: 28px;
  position: relative;
}

.advantages-title-dark::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.advantages-dark-description {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-light {
  color: #000000;
  background-color: #83B3D31F;
}

.advantages-greyish {
  color: #000000;
  background-color: #83B3D333;
}

.advantages-inner {
  color: #333333;
}

.services-title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 64px auto 20px auto;
}

.services-title-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 64px auto;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
}

.services-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  margin: 0;
  padding: 181px 81px 85px 81px;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  position:relative;
}

.services-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

li:nth-child(2n+1).services-item {
  background-color: #83B3D31F;
}

.services-item-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.services-item:nth-child(1) {
  background-image: url("../images/decor-small-icons/housing-icon.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
  background-size: 75px 72px;
}

.services-item:nth-child(2) {
  background-image: url("../images/decor-small-icons/food-icon.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
  background-size: 74px 70px;
}

.services-item:nth-child(3) {
  background-image: url("../images/decor-small-icons/souveniers-icon.svg");
  background-repeat: no-repeat;
  background-size: 64px 76px;
  background-position: center 81px;
}

.search {
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
  align-items: center;
  justify-content: center;
}

.search-title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.search-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 0 54px 0;
}

.search-big-button {
  padding: 8px 50px;
  margin: 0;
  background: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.subscribe {
  display: flex;
  flex-direction: column;
  padding: 96px 258px 104px 258px;
  align-items: center;
  justify-content: center;
}

.subscribe-special {
  background-image: url("../images/main/subscribe-special.png");
  background-color: #82B3D3;
  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 684px;
}

.email-input {
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  display: flex;
  align-items: flex-start;
  text-align: start;
  border-style: none;
  padding: 12px 20px;
}

.subscribe-button {
  display: flex;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  border-style: none;
  padding: 8px 30px;
  cursor: pointer;
  min-width: 235px;
  max-width: 290px;
  justify-content: center;
}

.subscribe-button:hover {
  background-color: #68a2ca;
}

.subscribe-button:focus {
  background-color: #68a2ca;
}

.subscribe-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.filter {
  background-image: url("../images/catalog-filter-background.png");
  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  padding: 35px 70px 70px 70px;
  margin: 0;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 40px 0;
  padding: 0;
  color: #FFFFFF;
  list-style-type: none;
  gap: 10px;
}

.breadcrums-item {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.breadcrumbs-item:not(:last-child)::after {
  display: inline-block;
  content: "";
  width: 8px;
  height: 11px;
  margin: 0 5px;
  background-image: url("../images/decor-small-icons/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs-link-hotels {
  margin-left: -5px;
}

.breadcrumbs-link-hotels:hover,
.breadcrumbs-link-hotels:focus,
.breadcrumbs-link-hotels:active {
  opacity: 0.6;
}

.breadcrumbs-link-home {
  display: inline-block;
  width: 14px;
  height: 13px;
  background-image: url("../images/decor-small-icons/home-breadcrumb-icon.svg");
  background-repeat: no-repeat;
  background-position: center left;
}

.breadcrumbs-link-home:hover,
.breadcrumbs-link-home:focus,
.breadcrumbs-link-home:active {
  opacity: 0.6;
}

.catalog-form {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  gap: 70px;
}

.catalog-form-group {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.catalog-form-infrastructure {
  width: 151px;
}

.catalog-form-title {
  margin: 0 0 32px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
}

.catalog-form-list {
  display: grid;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style-type: none;
  list-style: none;
}

.catalog-control {
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}

.catalog-control-input {
  padding: 0;
  margin: 0;
  margin-right: 12px;
  cursor: pointer;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  position: relative;
}

.catalog-control-input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  display: block;
  width: 13px;
  height: 10px;
  top: 5px;
  left: 4px;
  background-image: url("../images/decor-small-icons/check-mark.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.catalog-control-input[type="radio"] {
  border-radius: 50%;
}

.catalog-control-input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  text-align: center;
  background-color: rgba(63, 94, 114, 1);
  border-radius: 50%;
}

.catalog-control:has(.catalog-control-input:disabled) {
  opacity: 30%;
  pointer-events: none;
}

.catalog-control:hover {
  opacity: 0.6;
}

.catalog-form-housing {
  min-width: 151px;
}

.catalog-form-price {
  margin: 0;
  margin-left: auto;
  padding: 0;
  border-style: none;
}

.filter-title {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.filter-price-container {
  display: grid;
  grid-template-columns: 143px 143px;
  gap: 44px 2px;
}

.filter-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: #A9A9A9;
  background-color: transparent;
  text-transform: lowercase;
  justify-self: end;
  align-self: center;
  box-sizing: border-box;
  margin-right: 18px;
}

.price-input {
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  color: #000000;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  max-width: 143x;
  height: 48px;
  padding-inline: 20px 40px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.price-input:hover {
  background-color: #E6E6E6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.price-min {
  grid-row: 1/-1;
  grid-column: 1 / 2;
  z-index: 1;
}

.price-from {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
}

.price-to {
  font-family: inherit;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  border-radius: 0 4px 4px 0;
  border-style: none;
  width: 143px;
  height: 48px;
  grid-row: 1/-1;
  grid-column: 2 / 3;
}

.price-max {
  grid-row: 1/-1;
  grid-column: 2 / 3;
  z-index: 1;
}

.price-range-wrapper {
  margin-top: 45px;
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-control {
  position: absolute;
  height: 4px;
  border-radius: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  right: 0;
}

.catalog-form-button {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 191px;
  padding: 56px 0 0 0;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
}

.button-apply {
  background: #82B3D3;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-style: none;
  padding: 8px 50px;
}

.button-apply:hover {
  background-color: #68a2ca;
}

.button-apply:focus {
  background-color: #68a2ca;
}

.button-apply:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3)
}

.button-apply:disabled {
  background-color: #e5e5e5;
}

.button-reset {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  border-style: none;
  padding: 8px 50px;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:active {
  background-color: transparent;
  color: #FFFFFF4D;
}

.button-reset:disabled {
  background-color: transparent;
  opacity: 0.1;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.catalog {
  width: 100%;
  padding: 50px 70px 60px;
  box-sizing: border-box;
}

.catalog-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  flex-grow: 1;
}

.catalog-title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  max-width: 350px;
  margin-right: auto;
}

.select-control {
  font-family: inherit;
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  min-width: 292px;
  margin: 0;
  margin-right: 70px;
  padding: 12px 48px 12px 18px;
  background-color: #FFFFFF;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/decor-small-icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:disabled {
  pointer-events: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.catalog-format {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  padding: 0;
  max-width: 220px;
  gap: 8px;
}

.card-grid-toggle {
  min-width: 48px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 12px;
}

.card-grid-toggle:active,
.card-grid-toggle:hover {
  border: 2px solid #000000;
}

.format-card-list {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 14px 12px;
  background-image: url("../images/decor-small-icons/show-as-card.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000000;
}

.format-one-card {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 14px 12px;
  background-image: url("../images/decor-small-icons/show-each-card.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.format-list {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 14px 12px;
  background-image: url("../images/decor-small-icons/show-as-list.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.catalog-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px 20px;
  margin: 0 0 40px 0;
  padding: 0;
}

.catalog-card-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  padding: 20px;
  box-shadow: 0 0 0 1px #E6E6E6;
  gap: 16px 20px;
  border-radius: 4px;
  box-sizing: border-box;
}

.catalog-card-link {
  grid-column: 1 / -1;
  color: #000000;
  text-decoration: none;
  display: block;
}

.catalog-card-img {
  display: block;
  margin: 0;
  object-fit: contain;
  padding: 5px 0 0 0;
}

.catalog-card-title {
  margin: 0;
  text-align: left;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
}

.catalog-card-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color:#333333;
  justify-self: start;
  margin: 0;
}

.catalog-card-price {
  font-size: 18px;
  line-height: 21px;
  justify-self: end;
  margin: 0;
}

.catalog-card-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  padding: 8px 5px;
  border-style: none;
  align-self: center;
  text-align: center;
}

.catalog-card-button:hover,
.catalog-card-button:focus {
  background-color: #615048;
}

.catalog-card-button:active {
  background: #756157;
  color: #FFFFFF4D;
}

.catalog-card-button:disabled {
  background-color: #e5e5e5;
}

.card-button-likes {
  font-family: inherit;
  background-color: #82B3D3;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  padding: 8px 5px;
  align-self: center;
}

.card-button-likes:hover,
.card-button-likes:focus {
  background-color: #68A2CA;
}

.card-button-likes:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.card-button-likes:disabled {
  background: #E5E5E5;
}

.card-button-in-likes {
  background-color: #7DB54F;
}

.card-button-in-likes:hover,
.card-button-in-likes:focus {
  background-color: #6C9E42;
}

.card-button-in-likes:active {
  background-color: #7DB54F;
  color: #FFFFFF4D;
}

.card-button-in-likes:disabled {
  background: #E5E5E5;
}

.stars {
  width: 140px;
  background-image: url("../images/decor-small-icons/stars.svg");
  display: block;
  margin: 0;
  min-height: 18px;
  background-repeat: no-repeat;
}

.five-stars {
  background-position: 0;
}

.four-stars {
  background-position: -24px;
}

.three-stars {
  background-position: -45px;
}

.two-stars {
  background-position: -70px;
}

.one-star {
  background-position: -96px;
}

.catalog-card-rates {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
  margin: 0;
  padding: 8px 22px 9px 23px;
  align-self: center;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  border-top: 1px solid #E6E6E6;
  padding: 40px 0 0 0;
}

.pagination-link.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
  border-radius: 4px;
}

.pagination-link {
  display: block;
  min-width: 60px;
  height: 60px;
  padding: 12px 14px;
  background: #82B3D3;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 8px;
  box-sizing: border-box;
}

.pagination-link:not(.pagination-current):active {
  background: rgba(130, 179, 211, 1);
  color: #FFFFFF4D;
}

.pagination-link:not(.pagination-current):hover,
.pagination-link:not(.pagination-current):focus {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-text {
  display: block;
  color: #000000;
  min-width: 60px;
  padding: 16px 22px 17px 22px;
  margin-right: 8px;
  box-sizing: border-box;
}

.subscribe-inner-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px 0;
}

.subscribe-inner-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0 0 54px 0;
}

.page-footer {
  width: 1200px;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  width: 1060px;
  padding: 35px 70px 35px 70px;
  align-items: center;
  justify-content: space-between;
}

.socials {
  max-width: 185px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  align-items: center;
}

.social-link {
  min-width: 47px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item {
  list-style-type: none;
}

.link-vk::before {
  display: inline-block;
  content: "";
  width: 24px;
  height: 14px;
  -webkit-mask: url("../images/decor-small-icons/vk-icon.svg");
          mask: url("../images/decor-small-icons/vk-icon.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #83b3d3;
}

.link-telegram::before {
  display: inline-block;
  content: "";
  width: 18px;
  height: 16px;
  -webkit-mask: url("../images/decor-small-icons/tg-icon.svg");
          mask: url("../images/decor-small-icons/tg-icon.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #83b3d3;
}

.link-youtube::before {
  display: inline-block;
  content: "";
  width: 22px;
  height: 17px;
  -webkit-mask: url("../images/decor-small-icons/youtube-icon.svg");
          mask: url("../images/decor-small-icons/youtube-icon.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #83b3d3;
}

.link-vk:hover::before,
.link-telegram:hover::before,
.link-youtube:hover::before,
.link-vk:focus::before,
.link-telegram:focus::before,
.link-youtube:focus::before {
  background-color: #68a2ca;
}

.link-vk:active::before,
.link-telegram:active::before,
.link-youtube:active::before {
  background-color: rgba(104, 162, 202, 0.3);
}

.contacts-address-phone {
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color:#000000;
  text-align: center;
  text-decoration-line: none;
}

.contacts-address-phone:hover,
.contacts-address-phone:focus {
  color: #756157;
}

.contacts-address-phone:active {
  color: #7561574D;
}

.developer {
  width: 115px;
  display: block;
  margin: 0;
}

.developer-link {
  color: #000000;
  padding: 0;
  padding-top: 10px;
  align-self: center;
  text-decoration: none;
}

.developer-link:hover,
.developer-link:focus {
  color: #756157;
}

.developer-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: flex;
  z-index: 2;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #FFFFFF;
  box-shadow: 0 25px 50px 0 #00000026;
  border-radius: 30px;
}

.modal-content {
  max-width: 720px;
  box-sizing: border-box;
  color: #000000;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 64px 70px 64px 70px;
}

.modal-close-button {
  position: absolute;
  right: 52px;
  top: 64px;
  display: flex;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button::before {
  content: "";
  width: 14px;
  height: 14px;
  margin: auto;
  -webkit-mask: url("../images/decor-small-icons/close-sign.svg");
          mask: url("../images/decor-small-icons/close-sign.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #000000;
  -webkit-mask-size: 100%;
          mask-size: 100%;
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #E6E6E6;
}

.modal-close-button:active {
  background-color: #E6E6E6;
}

.modal-close-button:active::before {
  opacity: 0.3;
}

.modal-close-button:disabled {
  opacity: 20%;
  pointer-events: none;
}

.modal-title {
  margin: 0 0 64px 0;
  padding-right: 40px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 23px 83px;
  width: 577px;
}

.form-group {
  display: grid;
  grid-template-columns: 122px 1fr;
  gap: 4px 15px;
  margin: 0;
}

.form-group-fill {
  grid-column: 1 / -1;
}

.modal-form-label {
  display: inline-block;
  margin: 12px 0 0 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.form-group {
  position: relative;
}

.modal-form-input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  font: inherit;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
  color: #000000;
  background-image: url("../images/decor-small-icons/calendar.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 400px 14px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.date-input {
  padding-right: 60px;
}

.date-input::placeholder {
  opacity: 0.5;
}

.date-input:hover,
.date-input:focus {
  background-color: #E6E6E6;
}

.date-input:disabled {
  opacity: 20%;
  pointer-events: none;
}

.caution {
  grid-column: 2 / -1;
  margin: 0;
  padding-left: 20px;
  font-size: 16px;
  line-height: 21px;
}

.caution-error {
  color:  #FF5757;
}

.quantity-container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  background-color: #f2f2f2;
  border-radius: 4px
}

.quantity-input {
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  width: 110px;
  padding: 14px 40px 14px 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.quantity-button {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.quantity-button:focus {
  opacity: 1;
}

.quantity-button-less {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../images/decor-small-icons/minus-sign.svg");
  background-color: transparent;
  background-repeat: no-repeat;
}

.quantity-button:hover {
  opacity: 1;
}

.quantity-button:active {
  opacity: 0.3;
}

.quantity-button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
          appearance: none;
}

.quantity-input:hover {
  background-color: #E6E6E6;
}


.quantity-button-more {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../images/decor-small-icons/plus-sign.svg");
  background-color: transparent;
  background-repeat: no-repeat;
}

.group-kids {
  position: relative;
  display: flex;
  align-items: center;
}

.label-kids {
  max-width: 56px;
  font-weight: 700;
}

.tooltip-toggle {
  position: absolute;
  top: 10px;
  left: 64px;
  display: flex;
  width: 26px;
  height: 26px;
  background-color: #83B3D3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}


.tooltip-toggle::before {
  content: "";
  width: 2px;
  height: 12px;
  margin: auto;
  -webkit-mask: url("../images/decor-small-icons/tooltip.svg");
          mask: url("../images/decor-small-icons/tooltip.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #FFFFFF;
  -webkit-mask-size: 100%;
          mask-size: 100%;
}

.tooltip-text {
  position: absolute;
  top: 52px;
  left: -51px;
  box-sizing: border-box;
  min-height: 143px;
  min-width: 256px;
  padding: 21px 18px 22px 22px;
  font-size: 16px;
  font-family: inherit;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 #0000004D;
  display: none;
}


.tooltip-text::after {
  position: absolute;
  content: "";
  top: -9px;
  left: 119px;
  display: inline-block;
  width: 19px;
  height: 9px;
  background: url("../images/decor-small-icons/tooltip-triangle.svg") no-repeat;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.button-modal {
  display: inline-block;
  grid-column: 1 / -1;
  min-height: 60px;
  margin-top: 24px;
  padding: 18px 34px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #83B3D3;
  color: #ffffff;
}

.button-modal:active {
  color: #E6E6E6;
}

.button-modal:hover, .button-modal:focus {
  background-color: #68A2CA;
}
